body{
    background-color: rgb(46, 46, 46);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
/*phone*/
@media screen and (min-width: 375px) {

    #my-video{
        background-color: black;
        width: 80%;
        margin: 0 auto;
    }

.bio{

    background-color: black;
    width: 100%;
    height: 300px;
    display: block;
    background-position: absolute;
    background-image: url(Pulgonmicroscopico.PNG);
    background-size: cover;
}

.cont1{

    margin:  auto;
    position: relative;
    text-align: center;
    display: block;
}
h2{
    color: white;
   background-color: black;
    text-align: center;
    display: block;
}


.footer{
    background-color: black;
    width: 100%;
    height: 200px;
    padding: 1%;
  
}

#cont1{
    margin: 6%;
    color: white;
}

img{
    width: 30%;
}



}







/*iphone note*/
@media screen and (min-width: 414px) {

    #my-video{
        background-color: black;
        width: 80%;
        margin: 0 auto;
    }

.bio{

    background-color: black;
    width: 100%;
    height: 400px;
    display: block;
    background-position: absolute;
    background-image: url(Pulgonmicroscopico.PNG);
    background-size: cover;
}

.cont1{

    margin:  auto;
    position: relative;
    text-align: center;
    display: block;
}
h2{
    color: white;
   background-color: black;
    text-align: center;
    display: block;
}


.footer{
    background-color: black;
    width: 100%;
    height: 200px;
    padding: 1%;
  
}

#cont1{
    margin: 6%;
    color: white;
}

img{
    width: 30%;
}



}


/*pc*/
@media screen and (min-width: 1409px) {

    #my-video{
        background-color: black;
        width: 70%;
        margin:100px
    }

.bio{

    background-color: black;
    width: 100%;
    height: 100px;
    height: 400px;
    display: block;
    background-position: absolute;
    background-image: url(Pulgonmicroscopico.PNG);
}

h2{
    color: white;
   background-color: black;
    text-align: center;
    display: block;
    font-weight: 700;
}

.footer{
    background-color: black;
    width: 100%;
    height: 200px;
  
}





    
}


